<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
{% load static %}
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link rel="stylesheet" href={% static 'css/bootstrap-theme.min.css' %}>
    <link rel="stylesheet" href={% static 'css/ss-social-circle.css' %}>
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    {% block css%}
    {% endblock %}
    <!--[if lt IE 9]>
    <script src={% static 'js/vendor/html5-3.6-respond-1.1.0.min.js' %}></script>
    <![endif]-->
{% endblock %}

</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
{% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
           {% if not user.is_authenticated %}
{#              <form action="{% url 'accounts:login' %}" method="post" class="navbar-form navbar-right" role="form">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="btn btn-success">ورود</button>#}
{#                <div class="form-group">#}
{#                  <input name="password" type="password" placeholder="رمز عبور" class="form-control">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                  <input name="username" type="text" placeholder="نام کاربری" class="form-control">#}
{#                </div>#}
{#              </form>#}
              <div class="navbar-form navbar-right">
{#                  <a href="{% url 'accounts:register' %}"><button type="submit" class="btn btn-success">عضویت</button></a>#}
              </div>
            {% else %}
               <form>
                   {% csrf_token %}
               </form>
               <div class="navbar-right navbar-form">
{#                 <a href="{% url 'accounts:profile' %}">{{ user.username }}</a>#}
               </div>
               <div class="navbar-form">
{#                  <a href="{% url 'accounts:logout' %}"><button type="submit" class="btn btn-success">خروج</button></a>#}
               </div>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
{% endblock %}

{% block header %}
<!--Site header-->
<header class="site-header">
    <div class="container">
        <div class="row">

            <!--Banner-->
            <div class="col-xs-12 col-sm-3 col-sm-push-9 banner">
                <h1>
                    سامانه رزرواسیون سیمرغ
                </h1>
            </div>


        </div>

    </div>
</header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<!--Site footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">

                <ul>
                    <li><a href="#">درباره ما</a></li>
                    <li><a href="#">راهنمای سایت</a></li>
                    <li><a href="#">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 slogan">
                <div class="row first-row">

                    رزرو آسان
                </div>
                <div class="row second-row">
سریع
                </div>
                <div class="row third-row">
مطمئن
                </div>
            </div>
            <div class="col-xs-12 col-sm-1 col-lg-push-1 social">
                <a href="http://www.facebook.com/simorgh" class="facebook" rel="me" target="_blank"><span class="ss-icon ss-social-circle">Facebook</span></a>
                <a href="http://www.twitter.com/simorgh" class="twitter" rel="me" target="_blank"><span class="ss-icon ss-social-circle">Twitter</span></a>
                <a href="https://plus.google.com/+simorgh" class="google-plus" rel="me" target="_blank"><span class="ss-icon ss-social-circle">GooglePlus</span></a>
            </div>
        </div>
    </div>
</footer>


{% endblock %}
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
<script>window.jQuery || document.write('<script src={% static "js/vendor/jquery-1.10.1.min.js" %}><\/script>')</script>

<script src={% static 'js/vendor/bootstrap.min.js' %}></script>
<script src={% static 'js/main.js' %}></script>
<script src={% static 'js/ss-social.js' %}></script>
{% block more_javascript %}

{% endblock %}
</body>
</html>
