{% extends 'base.html' %}

{% block content %}
<a href="{% url 'user_subsystem:profile' %}">بازگشت</a>
<form method="POST" action="">
    {% csrf_token %}
    {% for field in user_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    {% for field in account_form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit">
</form>
{% endblock %}