{% extends 'base.html' %}

{% load static %}
<div class="container">
    <div class="row">
            <!--SearchBox-->
            <div class="col-xs-12  site-header-item col-sm-3 col-sm-pull-3" id="search-box">
                <form class="form-inline" role="form" onSubmit="return false;">

                    <!--Search input-->
                    <div class="form-group">
                        <label class="sr-only" for="searchInput">Search</label>
                        <input type="search" class="form-control" id="searchInput" placeholder="جستجو">
                        </input>
                    </div>
                </form>
            </div>

    </div>
</div>