@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>جستجوی هتل</h1>
    @using (Html.BeginForm("SearchResult", "Hotel", FormMethod.Get))
    {
        <p>
            @Html.Label("برای جستجو نام شهر را وارد کنید.")
            Title: @Html.TextBox("cityName") <br />
            <input type="submit" value="جستجوی هتل" />
        </p>
    }


</div>