@model Simorgh.Models.ImageFile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ImageFile</legend>

    <div class="display-label">ImageFileLocation</div>
    <div class="display-field">@Model.ImageFileLocation</div>

    <div class="display-label">ImageFileHotel</div>
    <div class="display-field">@(Model.ImageFileHotel == null ? "None" : Model.ImageFileHotel.Name)</div>

    <div class="display-label">ImageFileRoomType</div>
    <div class="display-field">@(Model.ImageFileRoomType == null ? "None" : Model.ImageFileRoomType.Title)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


