@model Simorgh.Models.ImageFile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ImageFile</legend>

    <div class="display-label">Path</div>
    <div class="display-field">@Model.Path</div>

    <div class="display-label">Hotels</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Hotels).ToString()</div>

    <div class="display-label">RoomType</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.RoomType).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


