@font-face {
    font-family:"BBCNassim";
    src: url('../fonts/BBCNassim.eot');
    src: local("â˜º" ),
    url('../fonts/BBCNassim.woff')
    format("woff"),
    url('../fonts/BBCNassim.ttf')
    format( "truetype" );
}

body {
    padding-top: 50px;
    font-family: "BBCNassim" !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
    background: #16a085;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;    
    color:#fff;
    padding-top: 10px;
}

.social {
    font-size: 2em;
    
}
.social a {
    margin-right: 10px;
    text-decoration: none;
}