@model Simorgh.Models.ReservationItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ReservationItem</legend>

    <div class="display-label">Reservation</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Reservation).ToString()</div>

    <div class="display-label">RoomType</div>
    <div class="display-field">@(Model.RoomType == null ? "None" : Model.RoomType.Title)</div>

    <div class="display-label">Hotel</div>
    <div class="display-field">@(Model.Hotel == null ? "None" : Model.Hotel.Name)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


