@model Simorgh.Models.City

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.CityName)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CityName)
    @Html.ValidationMessageFor(model => model.CityName)
</div>

